<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>biult in filters</h1>
        <h2 style="color: brown;">{{data}}<h2/>
        <br>
        <h2 style="color: blueviolet;">{{data|upper}}</h2>
        <br/>
        <h2 style="color: blue;">{{data|lower}}</h2>
        <br>
        <h2 style="color: blanchedalmond;">{{data|title}}</h2>
        <br/>
        <h2 style="color: black;""></h2>{{data|capfirst}}</h2>
        <br>
        <h2 style="color: bisque;">{{data|truncatechars:5}}</h2>
        <br/>
        <h2 style="color: beige;">{{data|truncatewords:2}}</h2>
        <br>
        <h2 style="color: aqua;">{{data|length}}</h2>
        <br/>
        <h2 style="color: aquamarine;">{{data|slice:4}}</h2>
        <h2 style="color: rgb(250, 242, 215);">this{{c}} cat{{c|pluralize:'is,are'}} mine</h2>
        <h2 style="color: rgb(134, 27, 27);">{{de|date:'y'}}</h2>
        


        
    
    </center>
</body>
</html>